body {
    background-color: transparent;
}

html:before {
    z-index: -1;
    position: fixed;
    top: 0px;
    content: "";
    height: calc(100vh + 90px);
    width: calc(100vw);
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background: #082a75;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #082a75 0%, #38bed8 99%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #082a75 0%, #38bed8 99%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #082a75 0%, #38bed8 99%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#082a75', endColorstr='#38bed8', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

.container {
    width: auto;
    height: 100%;
    margin-left: 1%;
    margin-right: 1%;
}

.container-fluid {
    padding-left: 5px;
    padding-right: 5px;
}

img {
    height: 50px;
}

.navbar-nav {
    margin-right: 0px;
}

.nav>li {
    padding: 0px 5px 0px 5px;
}

form {
    background-color: white;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    width: 27%;
    min-width: 270px;
    margin: 0 auto;
}

div>img {
    display: block;
    margin: auto;
    height: 150px;
}

h1 {
    text-align: center;
}

.input {
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
    border-top: none;
    box-shadow: transparent;
}

#loginBtn {
    display: block;
    margin: auto;
    width: 60%;
    background-color: #082a75;
    color: white;
}

a {
    color: black;
    text-align: center;
}

a.nav-link {
    color: black;
}

#forgotPass {
    text-align: center;
    padding-top: 10px;
}


/* div.form-group {
    width: 60%;
    margin: 20px auto;
} */

div.form-group>input {
    text-align: center;
}

div.row>div {
    padding: 10px 10px 10px 10px;
}

.footer {
    position: fixed;
    z-index: -1;
    left: 0;
    width: 100%;
    color: white;
    text-align: center;
    bottom: 10px;
}

.modal-title {
    color: #38bed8;
}


/* Button Styling */

.pbw-buttonize {
    display: block;
    margin: auto;
    background-color: #082a75;
    transition-duration: 500ms;
    color: white;
    font-weight: 700;
}

.pbw-buttonize a {
    text-decoration: none;
    color: white;
}

.pbw-buttonize:hover {
    background-color: #38bed8 !important;
    color: #eee !important;
}

.pbw-buttonize:focus {
    color: #ccc !important;
}


/** Top Nav styling **/


/* correctly position nav logo */

.pbw-dashboard-nav .navbar-header {
    float: left;
}

.pbw-dashboard-nav .navbar-brand {
    padding: 0px 15px !important;
}


/* force standard layout on mobile */

.pbw-dashboard-nav .navbar-nav {
    margin-top: 0px;
    margin-bottom: 0px;
}

.pbw-dashboard-nav .navbar-right .nav-item {
    float: right!important;
}