{% extends "baseAdmin.html" %} {% block title %}Info for {{selectedOrg[0].orgName}} {% endblock %} {% block body %}

<h1>Add a Pi for {{selectedOrg[0].orgName}}</h1>
<div style="text-align: center">

    <form action="/Admin/insertPi" id="addPiForm" method="POST" class="form-horizontal" style="width: 40%;">
        Select a Pi to Add:
        <select id="PiSelect" name="uuid">
                    <option value="" selected>Please select a Pi</option>
                    {% for pi in pis %}
                    <option value='{{ pi.uuid }}'>UUID: {{ pi.uuid }} </option>
                    {% endfor %}
                </select>
        <div class="form-group col-sm-6 pbw-no-horz-margin">
            <label for="bldg" class="control-label">Building Name</label>
            <input id="bldg" name="bldg" placeholder="Building Name" autofocus value="" required class="form-control" />
        </div>
        <div class="form-group col-sm-6 pbw-no-horz-margin">
            <label for="roomId" class="control-label">Room ID</label>
            <input id="roomId" name="roomId" placeholder="Room ID" autofocus value="" required class="form-control" />
        </div>

        <br>
        <input type="hidden" id="orgId" name="orgId" value="{{selectedOrg[0].orgId}}">
        <button type="subBtn" id="subBtn" form="addPiForm" value="Submit" class="btn pbw-buttonize">Add Pi <i class="fas fa-plus"></i></button>
    </form>
</div>

{% endblock %} {% block bottom %}
<ul class="nav navbar-nav navbar-right">
    <li><a href="/Admin/currentPis">Back <i class="fas fa-arrow-left"></i></a></li>
</ul>

{% endblock %}