{% extends "baseAdmin.html" %}

{% block title %}Log in{% endblock %}
{% block body %}

<div> 
    <input type="text" placeholder="Search..">
</div>

<table id="table" class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">City</th>
                <th scope="col">Email</th>
                <th scope="col"></th>
            </tr>
        </thead>
    <tbody>
          <form id="selectForm" method="Post" action=/Items/Index>
              <input type="hidden" name="selectedOrg" value="">
{% for org in orgs %}
        <tr>  
            <td>{{ org.OrgName }}</td>
            <td>{{ org.City }}</td>
            <td>{{ org.Email }}</td>
            <td><button value="{{org.OrgId}}">select</button></td>
        </tr>      
{% endfor %}
          </form>  

</tbody>
</table>


{% endblock %}