{% extends "baseAdmin.html" %}

{% block title %}Info for {{selectedOrg[0].orgName}} {% endblock %}
{% block body %}
        
    <h1>Current Information for {{selectedOrg[0].orgName}}</h1>   

    <div style="text-align: center"> 
            <form action="/Admin/updateOrg" id="orgForm" method="POST">
                
                Organization ID:
                <input type="text" id="orgId"name="orgId" value="{{selectedOrg[0].orgId}}" readonly>
                <br>
                Organization Name:
                <input type="text" id="OrgName" name="OrgName" value="{{selectedOrg[0].orgName}}" >
                <br>
                Street:
                <input type="text" id="Street" name="Street" value="{{selectedOrg[0].street}}" >
                <br>
                City:
                <input type="text" id="City" name="City" value="{{selectedOrg[0].city}}" >
                <br>
                State:
                <input type="text" id="State" name="State" value="{{selectedOrg[0].state}}" >
                <br>
                Zip Code:
                <input type="text" id="Zip" name="Zip" value="{{selectedOrg[0].zip}}" >
                <br>
                Phone:
                <input type="text" id="Phone" name="Phone" value="{{selectedOrg[0].phone}}" >
                <br>
                Email :
                <input type="text" id="email" name="email" value="{{selectedOrg[0].email}}" >
                <br>
                <button type="subBtn" id="subBtn" form="orgForm" value="Submit" >Save Changes <i class="fas fa-save"></i></button>
              </form> 

    </div>

{% endblock %}    


{% block bottom %}
<!-- <ul class="nav navbar-nav navbar-right">
    <li><a href="/Admin/addLocation" >Add a Location <i class="fas fa-plus"></i></a></li>                           
</ul> -->


{% endblock %}   