{% extends "baseAdmin.html" %}

{% block title %}Info for {{selectedOrg[0].OrgName}} {% endblock %}
{% block body %}
        
    <h1>Current Information for {{selectedOrg[0].OrgName}}</h1>   

    <div style="text-align: center"> 
            <form action="organization/UpdateOrg" id="userForm">
                
                Organization ID:
                <input type="text" id="orgId"name="orgId" value="{{selectedOrg[0].OrgId}}" disabled>
                <br>
                Organization Name:
                <input type="text" id="OrgName" name="OrgName" value="{{selectedOrg[0].OrgName}}" >
                <br>
                Street:
                <input type="text" id="Street" name="Street" value="{{selectedOrg[0].Street}}" >
                <br>
                City:
                <input type="text" id="City" name="City" value="{{selectedOrg[0].City}}" >
                <br>
                Zip Code:
                <input type="text" id="Zip" name="Zip" value="{{selectedOrg[0].Zip}}" >
                <br>
                Phone:
                <input type="text" id="Phone" name="Phone" value="{{selectedOrg[0].Phone}}" >
                <br>
                Email :
                <input type="text" id="email" name="email" value="{{selectedOrg[0].Email}}" >
                <br>
                <input type="hidden" id="orgId" name="orgId" value="">
                <!-- <input id="subBtn" type="submit" value="Submit" disabled> -->
                <button type="subBtn" id="subBtn" form="userForm" value="Submit" >Save Changes <i class="fas fa-save"></i></button>
              </form> 

    </div>

{% endblock %}    


{% block bottom %}

<ul class="nav navbar-nav navbar-right">
    <li><a href="/Signup/new" >Add a User <i class="fas fa-user-plus"></i></a></li>
    <li><a href="" onclick="onDeleteUserClick()">Delete This User <i class="fas fa-user-minus"></i></a></li>                                    
</ul>

{% endblock %}   