<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <!-- About PiBake Modal Popup -->
    <div class="modal fade" id="about-pibake-modal" tabindex="-1" role="dialog" aria-labelledby="about-pibake-modal-label">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="about-pibake-modal-label">About PiBake</h35>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <p>PiBake is a modular, cloud-based, sensor network solution for enterprise data gathering solutions across North America and the world. We use a series of specialized digital sensor tools integrated with our custom designed Raspberry
                        Pi hardware to deliver data to our proprietary web interface for clients on any device.</p>
                    <img src="/Images/pi-pic.jpg" alt="a pi bake hardware unit" class="img-rounded pbw-modal-img">
                    <p style="margin-top:10px;">At Team PiBake, we strive to use technology to solve data problems in a way that's accessible and elegant. We are firm believers in ability to use web distributed tech to help our clients, but we know they deserve to interact with
                        real human beings. Each PiBake cluster is overseen and administered by expert members of our staff who know our cutting-edge processes and love the people we serve.</p>

                </div>
            </div>
        </div>
    </div>

    <!-- Contact Us Modal Popup -->
    <div class="modal fade" id="contact-modal" tabindex="-1" role="dialog" aria-labelledby="contact-modal-label">
        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="contact-modal-label">Contact Us</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                <div class="modal-body">
                    <p style="text-align:center;">Want to learn more about PiBake, or talk to our team about what we can do for you?</p>
                    <p style="text-align:center;">Give us a call or set up a meeting. We're excited to hear from you!</p>
                </div>
                <div class="modal-footer">
                    <a href="tel:2318831551" class="btn btn-block pbw-buttonize" role="button">Call the team</a>
                    <a href="https://calendly.com/pibakeweb/30min" class="btn btn-block pbw-buttonize" role="button">Setup Appointment</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Help Modal Popup -->
    <div class="modal fade" id="help-modal" tabindex="-1" role="dialog" aria-labelledby="help-modal-label">
        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="help-modal-label">Get Help</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p style="text-align: center">Something not working quite right? Don't worry, we're here to help! Click an option below to connect with our dedicated support staff.</p>
                </div>
                <div class="modal-footer">
                    <a href="tel:2318831551" class="btn btn-block pbw-buttonize" role="button">Call Support</a>
                    <a href="mailto:pibakeweb@gmail.com" class="btn btn-secondary btn-block pbw-buttonize" role="button">Email Us</a>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#pbw-navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
                <a class="navbar-brand" href="/">
                    <img src="/Images/PiBake-logo.PNG" />
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="pbw-navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="modal" data-target="#about-pibake-modal">About PiBake</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="modal" data-target="#contact-modal">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="modal" data-target="#help-modal">Help</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>


    </div>
    <div class="container" style="margin-bottom: 50px;">

        {% for message in flash_messages %}
        <div class="alert alert-{{ message.type }}">
            {{ message.body }}
        </div>
        {% endfor %} {% block body %} {% endblock %}

    </div>

    <!-- Latest compiled and minified JavaScript -->

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    {% block footer %} {% endblock %}
    <footer class="footer">PiBake 2019 &#174;</footer>
</body>

</html>