<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Load base dashboard css -->
    <link rel="stylesheet" href="/css/clientcss.css" />
    <link rel="stylesheet" href="/css/dashboard.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <img src="/Images/PiBake-logo.PNG"/>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout" style="color: red; font-size: 1.2em;">Log out </a></li>                                            
            </ul>
        </div>
    </nav>


<div class="container main-display">
    <div class="row" >
        <div id = "PiInfoBox" class="col-md-2" style="background-color: white; ">
            <i class="fas fa-user-circle"></i>
            <p>Welcome</p>
            <dd>{{ user.firstName }}</dd>
        </div>

        <div  id="pi-data-tables" class="col-md-5" style="background-color: white;">   

            <div>
                <select id="PiSelect" onchange="piDropDownClick()">
                    <!-- <option value=''disabled selected>Please select a Pi</option> -->
                    {% for pi in Pis %}
                    <option id='PiData{{loop.index0}}' value='{{ loop.index0 }}' data-location="{{pi.roomId}}" data-uuid="{{pi.uuid}}">Pi UUID: {{ pi.uuid }}</option>
                    {% endfor %}
                </select>                       
            </div>

            {% for record in RESULTARRAY %}
            <div id="record{{loop.index0}}" data-csvstring="{{record}}" hidden></div>
            {% endfor %}
            {% for timeLbl in timeLabels %}
            <div id="timeLbl{{loop.index0}}" data-csvstring="{{timeLbl}}" hidden></div>
            {% endfor %}

            <div>
                    <p id="piId" >Pi UUID: {{ Pis[0].uuid }}</p>
                    <p id="PiLocation">Location: {{ Pis[0].bldg }}, {{ Pis[0].roomId }} </p>
                    <p id="PiStatus" style="color: green">Status: Online</p>
            </div>    

    <table id="table" class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Time</th>
                    <th scope="col">Temperature</th>
                    <th scope="col">Date</th>
                </tr>
            </thead>
            <!-- loop through the nested array of individual temperature records -->           
            {% for type, records in temps %} 
                {% if loop.index0  == 0 %}          
                <tbody id="dataTable{{loop.index0}}" >    
    
                <!-- grab the first set of arrays -->                    
                <!-- for the indivdual nested arrays, define the key and print the value-->
                {% for key, value in records %}
                <tr>   

                <td>
                {{ value.time }}
                </td>

                <td>
                {{ value.temp_fahrenheit }}
                </td>

                <td>
                {{ value.date }}
                </td> 

                </tr>     

                {% endfor %}
                </tbody>
                {% else %}
                <tbody id="dataTable{{loop.index0}}" hidden>   
   
                    <!-- grab the first set of arrays -->                    
                    <!-- for the indivdual nested arrays, define the key and print the value-->
                    {% for key, value in records %}
                    <tr>   
    
                    <td>
                    {{ value.time }}
                    </td>
    
                    <td>
                    {{ value.temp_fahrenheit }}
                    </td>
    
                    <td>
                    {{ value.date }}
                    </td> 
    
                    </tr>     
    
                    {% endfor %}
                    </tbody>
                {% endif %} 
                 
                                                                
                
            {% endfor %}           
    </table>   
</div> 

        <div id="pi-data-graph" class="col-md-5" style="background-color: white;"> 

                     <canvas id="chartjs-0" width="400" max-height="1200"></canvas>                    

                    <script>
                        var t =   CSVtoArray('{{RESULTARRAY[0]}}')
                        var timeLabels =   CSVtoArray('{{timeLabels[0]}}')

                        
                        new Chart(document.getElementById("chartjs-0"),
                        {"type":"line","data":{"labels":timeLabels,
                        "datasets":[{"label":"Temperatures",
                        "data": t,            
                        "fill":false,"borderColor":"rgb(75, 192, 192)","lineTension":0.1}]},
                        "options":{}});


                             
                        function CSVtoArray(text) {
                            var re_valid = /^\s*(?:'[^'\\]*(?:\\[\S\s][^'\\]*)*'|"[^"\\]*(?:\\[\S\s][^"\\]*)*"|[^,'"\s\\]*(?:\s+[^,'"\s\\]+)*)\s*(?:,\s*(?:'[^'\\]*(?:\\[\S\s][^'\\]*)*'|"[^"\\]*(?:\\[\S\s][^"\\]*)*"|[^,'"\s\\]*(?:\s+[^,'"\s\\]+)*)\s*)*$/;
                            var re_value = /(?!\s*$)\s*(?:'([^'\\]*(?:\\[\S\s][^'\\]*)*)'|"([^"\\]*(?:\\[\S\s][^"\\]*)*)"|([^,'"\s\\]*(?:\s+[^,'"\s\\]+)*))\s*(?:,|$)/g;
                            // Return NULL if input string is not well formed CSV string.
                            if (!re_valid.test(text)) return null;
                            var a = [];                     // Initialize array to receive values.
                            text.replace(re_value, // "Walk" the string using replace with callback.
                            function(m0, m1, m2, m3) {
                            // Remove backslash from \' in single quoted values.
                            if      (m1 !== undefined) a.push(m1.replace(/\\'/g, "'"));
                            // Remove backslash from \" in double quoted values.
                            else if (m2 !== undefined) a.push(m2.replace(/\\"/g, '"'));
                            else if (m3 !== undefined) a.push(m3);
                            return ''; // Return empty string.
                            });
                            // Handle special case of empty last value.
                            //if (/,\s*$/.test(text)) a.push('');
                            return a;
                            };

</script>
<script>
    
//
//    Code courtesy of: fb.com/bastony
//
    // muli dimesensional array to hold each row of each table
    $master = [];
    var x = document.getElementById("PiSelect").length;
    var n = 0;
    for(i = 0; i < x; i++){
   // get the table element
    var $table = document.getElementById("dataTable"+i),
    // number of rows per page
    $n = 10,
    // number of rows of the table
    $rowCount = $table.rows.length,
    // get the first cell's tag name (in the first row)
    $firstRow = $table.rows[0].firstElementChild.tagName,
    // boolean var to check if table has a head row
    $hasHead = ($firstRow === "TH"),
    // an array to hold each row
    $tr = [],




    // loop counters, to start count from rows[1] (2nd row) if the first row has a head tag
    $i,$ii,$j = ($hasHead)?1:0,
    // holds the first row if it has a (<TH>) & nothing if (<TD>)
    $th = ($hasHead?$table.rows[(0)].outerHTML:"");
    // count the number of pages
    var $pageCount = Math.ceil($rowCount / $n);
    // if we had one page only, then we have nothing to do ..
    if ($pageCount > 1) {
    // assign each row outHTML (tag name & innerHTML) to the array
    for ($i = $j,$ii = 0; $i < $rowCount; $i++, $ii++)
    $tr[$ii] = $table.rows[$i].outerHTML;
    // create a div block to hold the buttons
    $master.push($tr);
    var buttonGroup = "<div id='buttons" + i + "'></div";

    $table.insertAdjacentHTML("afterend",buttonGroup);
    // the first sort, default page is the first one
    sort(1);

    
    }

    //---------------------------------------------------------------------------------------------------------

    // ($p) is the selected page number. it will be generated when a user clicks a button
    function sort($p) {
      
        
        /* create ($rows) a variable to hold the group of rows
        ** to be displayed on the selected page,
        ** ($s) the start point .. the first row in each page, Do The Math
        */
        var $rows = $th,$s = (($n * $p)-$n);
        for ($i = $s; $i < ($s+$n) && $i < $tr.length; $i++)
        $rows += $master[i][$i];
        // $rows += $tr[$i];

        // now the table has a processed group of rows ..
        $table.innerHTML = $rows;
        // create the pagination buttons
        document.getElementById("buttons"+i).innerHTML = pageButtons($pageCount,$p);
        // CSS Stuff
        //document.getElementById(n+"id"+$p).setAttribute("class","active");
        document.getElementById("id"+$p).setAttribute("class","active");
       
    }
}
    //---------------------------------------------------------------------------------------------------------


    // ($pCount) : number of pages,($cur) : current page, the selected one ..
    function pageButtons($pCount,$cur) {
        

        /* this variables will disable the "Prev" button on 1st page
        and "next" button on the last one */
        var $prevDis = ($cur == 1)?"disabled":"",
        $nextDis = ($cur == $pCount)?"disabled":"",
        /* this ($buttons) will hold every single button needed
        ** it will creates each button and sets the onclick attribute
        ** to the "sort" function with a special ($p) number..
        */
        $buttons = "<input type='button' value='&lt;&lt; Prev' onclick='sortA("+($cur - 1)+")' "+$prevDis+">";
        for ($i=1; $i<=$pCount;$i++)
        // $buttons += "<input type='button' id="+n+"id"+$i+" value='"+$i+"' onclick='sortA("+$i+")'>";
        $buttons += "<input type='button' id= id"+$i+" value='"+$i+"' onclick='sortA("+$i+")'>";
        $buttons += "<input type='button' value='Next &gt;&gt;' onclick='sortA("+($cur + 1)+")' "+$nextDis+">";
        return $buttons;
    }   

    //---------------------------------------------------------------------------------------------------------
                                                                                   
</script>

<script>
    function sortA($p) {
     
     var n = document.getElementById("PiSelect").value; 
        
        $table = document.getElementById("dataTable"+n);
     
        /* create ($rows) a variable to hold the group of rows
        ** to be displayed on the selected page,
        ** ($s) the start point .. the first row in each page, Do The Math
        */
        var $rows = $th,$s = (($n * $p)-$n);
        for ($i = $s; $i < ($s+$n) && $i < $tr.length; $i++)
        $rows += $master[n][$i];
        // $rows += $tr[$i];
        $test = $master[0][1];
       
        // now the table has a processed group of rows ..
        $table.innerHTML = $rows;
        // create the pagination buttons
        document.getElementById("buttons"+n).innerHTML = pageButtons($pageCount,$p);
        // CSS Stuff
        // document.getElementById(n+"id"+$p).setAttribute("class","active");
        document.getElementById("id"+$p).setAttribute("class","active");
       
    }
 
    //---------------------------------------------------------------------------------------------------------
 
    // ($pCount) : number of pages,($cur) : current page, the selected one ..
    function pageButtons($pCount,$cur) {
        
 
        /* this variables will disable the "Prev" button on 1st page
        and "next" button on the last one */
        var $prevDis = ($cur == 1)?"disabled":"",
        $nextDis = ($cur == $pCount)?"disabled":"",
        /* this ($buttons) will hold every single button needed
        ** it will creates each button and sets the onclick attribute
        ** to the "sort" function with a special ($p) number..
        */
        $buttons = "<input type='button' value='&lt;&lt; Prev' onclick='sortA("+($cur - 1)+")' "+$prevDis+">";
        for ($i=1; $i<=$pCount;$i++)
        // $buttons += "<input type='button' id="+n+"id"+$i+" value='"+$i+"' onclick='sortA("+$i+")'>";
        $buttons += "<input type='button' id=id"+$i+" value='"+$i+"' onclick='sortA("+$i+")'>";
        $buttons += "<input type='button' value='Next &gt;&gt;' onclick='sortA("+($cur + 1)+")' "+$nextDis+">";
        return $buttons;
    }   
 
    //---------------------------------------------------------------------------------------------------------
function piDropDownClick() {

var x = document.getElementById("PiSelect").value;

var result = '{{RESULTARRAY|length}}';

var i;
for (i = 0; i < result; i++) { 
    if(i == x)
        {
        var tableToShow = "dataTable" + i;
        if(document.getElementById(tableToShow) != null)
        {                                        
            document.getElementById(tableToShow).hidden = false;
        }
        if(document.getElementById("buttons"+i ) != null)
        {
            document.getElementById("buttons"+i).hidden = false;
        }
    }
    else
    {
        var tableToHide = "dataTable" + i;
        if(document.getElementById(tableToHide) != null)
        {
            document.getElementById(tableToHide).hidden = true;
        }
     
        if(document.getElementById("buttons"+i ) != null)
        {
            document.getElementById("buttons"+i).hidden = true; 
        }
    }
}

    var data =   CSVtoArray(document.querySelector("#record"+x).dataset.csvstring);
    var timeLabels =   CSVtoArray(document.querySelector("#timeLbl"+x).dataset.csvstring);

    document.getElementById("piId").innerHTML = document.querySelector("#PiData"+x).dataset.uuid;
    document.getElementById("PiLocation").innerHTML = document.querySelector("#PiData"+x).dataset.location;
    document.getElementById("PiStatus").innerHTML = "Online";

    new Chart(document.getElementById("chartjs-0"),
    {"type":"line","data":{"labels": timeLabels,
    "datasets":[{"label":"Temperatures",
    "data": data,            
    "fill":false,"borderColor":"rgb(75, 192, 192)","lineTension":0.1}]},
    "options":{}});
}        



 
</script>      
<script>
    window.addEventListener('load', (event) => {
        var i;
        for (i = 0; i < '{{RESULTARRAY|length}}'; i++) { 
            if(i == 0)
            {
                
                if(document.getElementById("buttons"+i ) != null)
                {
                    document.getElementById("buttons"+i).hidden = false;
                }
            }
            else
            {
                if(document.getElementById("buttons"+i ) != null)
                {
                    document.getElementById("buttons"+i).hidden = true; 
                }
            }
        }
       
    });
</script>          
            </div>                  
    </div>
</div>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <footer class="footer">PiBake 2019 &#174;</footer>
</body>
</html>
