<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/clientcss.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <ul class="nav navbar-nav">

                <img src="/Images/PiBake-logo.PNG"/>
            </ul>

            <!-- <li><a href="/">Home</a></li> -->
                <img src="/Images/PiBake-logo.PNG"/>
            </ul>


            <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout" style="color: red; font-size: 1.2em;">Log out <i class="fas fa-sign-out-alt"></i></a></li>                                            
            </ul>
        </div>
    </nav>


<div class="container">
    <div class="row" >

        <div id = "PiInfoBox" class="col-lg-2" style="background-color: white; ">

            <i class="fas fa-user-circle"></i>
            <p>Wecome</p>

            <dd>{{ user.FirstName }}</dd>


        </div>

        <div class="col-lg-5" style="background-color: white;">   
            <div>
                <select id="PiSelect" onchange="piDropDownClick()">
                    <!-- <option value=''disabled selected>Please select a Pi</option> -->
                    {% for pi in Pis %}
                    <option value='{{ loop.index0 }}'>Pi {{ pi.PiId }}</option>
                    {% endfor %}
                </select>                       

            </div>

            <div>
                    <p id="PiId" >Pi ID: {{ Pis[0].PiId }}</p>
                    <p id="PiLocation">Location: {{ Pis[0].Bldg }}, {{ Pis[0].RoomID }} </p>
                    <p id="PiStatus" style="color: green">Status: Online</p>
            </div>    

    <table id="table" class="table table-striped">

            </div>    
        <div>
            <p>Pi</p>
            <p>Location:</p>
            <p>Status:</p>
        </div>                                        
    <table class=" table table-striped ">

            <thead>
                <tr>
                    <th scope="col">Time</th>
                    <th scope="col">Temperature</th>
                    <th scope="col">Date</th>
                </tr>
            </thead>
            <!-- loop through the nested array of individual temperature records -->           
            {% for type, records in temps %} 
                {% if loop.index0  == 0 %}          
                <tbody id="dataTable{{loop.index0}}">    
    
                <!-- grab the first set of arrays -->                    
                <!-- for the indivdual nested arrays, define the key and print the value-->
                {% for key, value in records %}
                <tr>   

                <td>
                {{ value.TempTime }}
                </td>

                <td>
                {{ value.Temp }}
                </td>

                <td>
                {{ value.TempDate }}
                </td> 

                </tr>     

                {% endfor %}
                </tbody>
                {% else %}
                <tbody id="dataTable{{loop.index0}}" hidden>   
   
                    <!-- grab the first set of arrays -->                    
                    <!-- for the indivdual nested arrays, define the key and print the value-->
                    {% for key, value in records %}
                    <tr>   
    
                    <td>
                    {{ value.TempTime }}
                    </td>
    
                    <td>
                    {{ value.Temp }}
                    </td>
    
                    <td>
                    {{ value.TempDate }}
                    </td> 
    
                    </tr>     
    
                    {% endfor %}
                    </tbody>
                {% endif %} 
                 
                                                                
                
            {% endfor %}           
    </table>   
</div> 
            <div class="col-lg-5" style="background-color: white;">   
                    <canvas id="chartjs-0" width="400" max-height="1200"></canvas>                    

                    <script>

                        var t =   CSVtoArray('{{RESULTARRAY[0]}}')
                        var timeLabels =   CSVtoArray('{{timeLabels[0]}}')
                        new Chart(document.getElementById("chartjs-0"),
                        {"type":"line","data":{"labels":timeLabels,
                        "datasets":[{"label":"Temperatures",
                        "data": t,            
                        "fill":false,"borderColor":"rgb(75, 192, 192)","lineTension":0.1}]},
                        "options":{}});


                             
                        function CSVtoArray(text) {
                            var re_valid = /^\s*(?:'[^'\\]*(?:\\[\S\s][^'\\]*)*'|"[^"\\]*(?:\\[\S\s][^"\\]*)*"|[^,'"\s\\]*(?:\s+[^,'"\s\\]+)*)\s*(?:,\s*(?:'[^'\\]*(?:\\[\S\s][^'\\]*)*'|"[^"\\]*(?:\\[\S\s][^"\\]*)*"|[^,'"\s\\]*(?:\s+[^,'"\s\\]+)*)\s*)*$/;
                            var re_value = /(?!\s*$)\s*(?:'([^'\\]*(?:\\[\S\s][^'\\]*)*)'|"([^"\\]*(?:\\[\S\s][^"\\]*)*)"|([^,'"\s\\]*(?:\s+[^,'"\s\\]+)*))\s*(?:,|$)/g;
                            // Return NULL if input string is not well formed CSV string.
                            if (!re_valid.test(text)) return null;
                            var a = [];                     // Initialize array to receive values.
                            text.replace(re_value, // "Walk" the string using replace with callback.
                            function(m0, m1, m2, m3) {
                            // Remove backslash from \' in single quoted values.
                            if      (m1 !== undefined) a.push(m1.replace(/\\'/g, "'"));
                            // Remove backslash from \" in double quoted values.
                            else if (m2 !== undefined) a.push(m2.replace(/\\"/g, '"'));
                            else if (m3 !== undefined) a.push(m3);
                            return ''; // Return empty string.
                            });
                            // Handle special case of empty last value.
                            //if (/,\s*$/.test(text)) a.push('');
                            return a;
                            };










                                    /*      =================================
                                    **      ==== Simple Table Controller ====
                                    **      =================================
                                    **
                                    **
                                    **          With Pure JavaScript .. 
                                    **   
                                    **
                                    **      No Libraries or Frameworks needed!
                                    **
                                    **
                                    **              fb.com/bastony
                                    **  
                                    */

                                    var x = document.getElementById("PiSelect").value;
                                    // get the table element
                                    var $table = document.getElementById("dataTable"+x),
                                    // number of rows per page
                                    $n = 10,
                                    // number of rows of the table
                                    $rowCount = $table.rows.length,
                                    // get the first cell's tag name (in the first row)
                                    $firstRow = $table.rows[0].firstElementChild.tagName,
                                    // boolean var to check if table has a head row
                                    $hasHead = ($firstRow === "TH"),
                                    // an array to hold each row
                                    $tr = [],
                                    // loop counters, to start count from rows[1] (2nd row) if the first row has a head tag
                                    $i,$ii,$j = ($hasHead)?1:0,
                                    // holds the first row if it has a (<TH>) & nothing if (<TD>)
                                    $th = ($hasHead?$table.rows[(0)].outerHTML:"");
                                    // count the number of pages
                                    var $pageCount = Math.ceil($rowCount / $n);
                                    // if we had one page only, then we have nothing to do ..
                                    if ($pageCount > 1) {
                                    // assign each row outHTML (tag name & innerHTML) to the array
                                    for ($i = $j,$ii = 0; $i < $rowCount; $i++, $ii++)
                                    $tr[$ii] = $table.rows[$i].outerHTML;
                                    // create a div block to hold the buttons
                                    $table.insertAdjacentHTML("afterend","<div id='buttons'></div");
                                    // the first sort, default page is the first one
                                    sort(1);
                                    }

                                    // ($p) is the selected page number. it will be generated when a user clicks a button
                                    function sort($p) {
                                    /* create ($rows) a variable to hold the group of rows
                                    ** to be displayed on the selected page,
                                    ** ($s) the start point .. the first row in each page, Do The Math
                                    */
                                    var $rows = $th,$s = (($n * $p)-$n);
                                    for ($i = $s; $i < ($s+$n) && $i < $tr.length; $i++)
                                    $rows += $tr[$i];

                                    // now the table has a processed group of rows ..
                                    $table.innerHTML = $rows;
                                    // create the pagination buttons
                                    document.getElementById("buttons").innerHTML = pageButtons($pageCount,$p);
                                    // CSS Stuff
                                    document.getElementById("id"+$p).setAttribute("class","active");
                                    }


                                    // ($pCount) : number of pages,($cur) : current page, the selected one ..
                                    function pageButtons($pCount,$cur) {
                                    /* this variables will disable the "Prev" button on 1st page
                                    and "next" button on the last one */
                                    var $prevDis = ($cur == 1)?"disabled":"",
                                    $nextDis = ($cur == $pCount)?"disabled":"",
                                    /* this ($buttons) will hold every single button needed
                                    ** it will creates each button and sets the onclick attribute
                                    ** to the "sort" function with a special ($p) number..
                                    */
                                    $buttons = "<input type='button' value='&lt;&lt; Prev' onclick='sort("+($cur - 1)+")' "+$prevDis+">";
                                    for ($i=1; $i<=$pCount;$i++)
                                    $buttons += "<input type='button' id='id"+$i+"'value='"+$i+"' onclick='sort("+$i+")'>";
                                    $buttons += "<input type='button' value='Next &gt;&gt;' onclick='sort("+($cur + 1)+")' "+$nextDis+">";
                                    return $buttons;
                                    }                                    
                    </script> 
                    <script>
                        function piDropDownClick() {
                            var x = document.getElementById("PiSelect").value;
                            // alert("{{ user.FirstName }} selected " + x);
                            var result = '{{RESULTARRAY|length}}';

                            var i;


                            for (i = 0; i < result; i++) { 
                                if(i == x){
                                    var tableToShow = "dataTable" + i;
                                    document.getElementById(tableToShow).style.display = "Contents";
                                }else{
                                    var tableToShow = "dataTable" + i;
                                    document.getElementById(tableToShow).style.display = "None";
                                }
                            }









                            var selectedIndex = "";
                            var selectedPiId = "";
                            var selectedPiLocation = "";
                            var selectedPiStatus = "";                        
                            var timeLabels = new Array();

                            switch (x){
                            case "0":
                                selectedIndex = "{{RESULTARRAY[0]}}";
                                selectedPiId = "Pi ID: {{ Pis[0].PiId }}";
                                selectedPiLocation = "Location: {{ Pis[0].Bldg }}, {{ Pis[0].RoomID }}"
                                selectedPiStatus = "Status: Online"
                                timeLabels =   CSVtoArray('{{timeLabels[0]}}')
                                break;
                            case "1":
                                
                                selectedIndex = "{{RESULTARRAY[1]}}";
                                selectedPiId = "Pi ID: {{ Pis[1].PiId }}";
                                selectedPiLocation = "Location: {{ Pis[1].Bldg }}, {{ Pis[1].RoomID }}"
                                selectedPiStatus = "Status: Online"
                                timeLabels =   CSVtoArray('{{timeLabels[1]}}')
                                break;
                            case "2":
                                selectedIndex = "{{RESULTARRAY[2]}}";
                                selectedPiId = "Pi ID: {{ Pis[2].PiId }}";
                                selectedPiLocation = "Location: {{ Pis[2].Bldg }}, {{ Pis[2].RoomID }}"
                                selectedPiStatus = "Status: Online"
                                timeLabels =   CSVtoArray('{{timeLabels[2]}}')
                                break;
                            case "3":
                                selectedIndex = "{{RESULTARRAY[3]}}";
                                selectedPiId = "Pi ID: {{ Pis[3].PiId }}";
                                selectedPiLocation = "Location: {{ Pis[3].Bldg }}, {{ Pis[3].RoomID }}"
                                selectedPiStatus = "Status: Online"
                                timeLabels =   CSVtoArray('{{timeLabels[3]}}')
                                break;
                            case "4":
                                selectedIndex = "{{RESULTARRAY[4]}}";
                                selectedPiId = "Pi ID: {{ Pis[4].PiId }}";
                                selectedPiLocation = "{{ Pis[4].Bldg }}, {{ Pis[4].RoomID }}"
                                selectedPiStatus = "Status: Online"
                                timeLabels =   CSVtoArray('{{timeLabels[4]}}')
                                break;
                            }

                            var data =   CSVtoArray(selectedIndex)
                            document.getElementById("PiId").innerHTML = selectedPiId;
                            document.getElementById("PiLocation").innerHTML = selectedPiLocation;
                            document.getElementById("PiStatus").innerHTML = selectedPiStatus;

                            new Chart(document.getElementById("chartjs-0"),
                            {"type":"line","data":{"labels": timeLabels,
                            "datasets":[{"label":"Temperatures",
                            "data": data,            
                            "fill":false,"borderColor":"rgb(75, 192, 192)","lineTension":0.1}]},
                            "options":{}});
                            }                           
                    </script>                
            </div>                  
    </div>
</div>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>


                        new Chart(document.getElementById("chartjs-0"),
                        {"type":"line","data":{"labels":["12AM","1AM","2AM","3AM","4AM","5AM","6AM","7AM","8AM","9AM","10AM","11AM","12AM","1PM","2PM","3PM","4PM","5PM","6PM","7PM","8PM","9PM","10PM","11PM","11:59PM"],
                        "datasets":[{"label":"Temperatures","data":[65,64,65,66,65,67,68, 69, 70, 70, 71, 68, 67, 69, 70, 71],
                        "fill":false,"borderColor":"rgb(75, 192, 192)","lineTension":0.1}]},
                        "options":{}});
                    </script>                 
                <!-- {% block body %}   
                {% endblock %} -->
            </div>                  
    </div>
</div>


    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>

    {% block footer %}
    {% endblock %}
 <footer class="footer">PiBake 2019 &#174;</footer>
</body>
</html>
